<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Blue Music</title>

  

    <link rel="stylesheet" href="./css/Style.css">
    <link rel="stylesheet" href="./css/admin.css">
</head>

<body class="admin-body">

    <!--  ADMIN SIDEBAR -->

    <aside class="admin-sidebar">

        <div class="admin-brand">

            <img
                src="./img/_4giPF6VRdSI4jKeGgCLQA.jpg"
                alt="Blue Music"
            >

            <div>
                <h2>Blue Music</h2>
                <span>ADMIN PANEL</span>
            </div>

        </div>


        <nav class="admin-menu">

            <a href="#" class="admin-menu-item active">
                <span>⌂</span>
                Dashboard
            </a>

            <a href="#" class="admin-menu-item">
                <span>♪</span>
                Songs
            </a>

            <a href="#" class="admin-menu-item">
                <span>▣</span>
                Albums
            </a>

            <a href="#" class="admin-menu-item">
                <span>◉</span>
                Artists
            </a>

            <a href="#" class="admin-menu-item">
                <span>◈</span>
                Categories
            </a>

            <a href="#" class="admin-menu-item">
                <span>♙</span>
                Users
            </a>

            <a href="#" class="admin-menu-item">
                <span>☰</span>
                Playlists
            </a>

        </nav>


        <div class="admin-sidebar-bottom">

            <a href="Home.html" class="back-site">
                ← Back to Website
            </a>

        </div>

    </aside>


    <!--  MAIN -->

    <main class="admin-main">

        <!-- TOP BAR -->

        <header class="admin-topbar">

            <div>
               

                
            </div>


            <div class="admin-profile">

                <div class="admin-avatar">
                    A
                </div>

                <div>
                    <h3>Admin</h3>
                    <p>Administrator</p>
                </div>

            </div>

        </header>


        <!--     STATS -->

        <section class="stats-grid">

            <div class="stat-card">

                <div class="stat-icon">
                    ♪
                </div>

                <div>
                    <p>Total Songs</p>
                    <h2>12</h2>
                    
                </div>

            </div>


            <div class="stat-card">

                <div class="stat-icon">
                    ▣
                </div>

                <div>
                    <p>Total Albums</p>
                    <h2>4</h2>
                    
                </div>

            </div>


            <div class="stat-card">

                <div class="stat-icon">
                    ◉
                </div>

                <div>
                    <p>Total Artists</p>
                    <h2>7</h2>
                   
                </div>

            </div>


            <div class="stat-card">

                <div class="stat-icon">
                    ♙
                </div>

                <div>
                    <p>Total Users</p>
                    <h2>0</h2>
                    
                </div>

            </div>

        </section>


        <!--   CONTENT GRID -->

        <section class="admin-content-grid">


            <!-- RECENT SONGS -->

            <div class="admin-panel large-panel">

                <div class="panel-header">

                    <div>
                        
                        <h2> Songs</h2>
                    </div>

                    <a href="#">View all</a>

                </div>


                <div class="song-table">

                    <div class="table-head">

                        <span>#</span>
                        <span>Song</span>
                        <span>Artist</span>
                        <span>Name</span>
                        <span>Time</span>

                    </div>


                    <div class="table-row">

                        <span>01</span>

                        <div class="table-song">

                            <img
                                src="./img/smart.png"
                                
                            >

                            <strong>smart</strong>

                        </div>

                        <span>Le sserafim</span>

                        <span>smart</span>

                        <span>3:42</span>

                    </div>


                    <div class="table-row">

                        <span>02</span>

                        <div class="table-song">

                            <img
                                src="./img/storie brevi.jpg"
                               
                            >

                            <strong>storie brevi</strong>

                        </div>

                        <span>tananai e annalisa</span>

                        <span>storie brevi</span>

                        <span>3:30</span>

                    </div>


                    <div class="table-row">

                        <span>03</span>

                        <div class="table-song">

                            <img
                                src="./img/Lust.jpg"
                                
                            >

                            <strong>Lust</strong>

                        </div>

                        <span>marino alexandria </span>

                        <span>Lust</span>

                        <span>3:41</span>

                    </div>


                    <div class="table-row">

                        <span>04</span>

                        <div class="table-song">

                            <img
                                src="./img/Мой мармеладный.webp"
                                
                            >

                            <strong>Мой мармеладный </strong>

                        </div>

                        <span>Катя Лель</span>

                        <span>Мой мармеладный </span>

                        <span>3:20</span>

                    </div>

                </div>

            </div>


            <!-- QUICK ACTIONS -->

            <div class="admin-panel">

                <div class="panel-header">

                    <div>
                    
                        <h2>Quick Actions</h2>
                    </div>

                </div>


                <div class="quick-actions">

                    <a href="#" class="quick-action">
                        <span>+</span>
                        Add Song
                    </a>

                    <a href="#" class="quick-action">
                        <span>+</span>
                        Add Album
                    </a>

                    <a href="#" class="quick-action">
                        <span>+</span>
                        Add Artist
                    </a>

                    <a href="#" class="quick-action">
                        <span>+</span>
                        Add Category
                    </a>

                </div>

            </div>


            <!-- POPULAR ARTISTS -->

            <div class="admin-panel">

                <div class="panel-header">

                    <div>
                       
                        <h2>Popular Artists</h2>
                    </div>

                    <a href="#">View all</a>

                </div>


                <div class="admin-artists">

                    <div class="admin-artist">

                        <img
                            src="./img/Halsey.jpg"
                            alt=""
                        >

                        <div>
                            <h3>Halsey</h3>
                            <p>0 Songs</p>
                        </div>

                    </div>


                    <div class="admin-artist">

                        <img
                            src="./img/The Weeknd.jpg"
                    
                        >

                        <div>
                            <h3>The Weeknd</h3>
                            <p>0 Songs</p>
                        </div>

                    </div>


                    <div class="admin-artist">

                        <img
                            src="./img/Lisa.jpg"
                            
                        >

                        <div>
                            <h3>Lisa</h3>
                            <p>0 Songs</p>
                        </div>

                    </div>


                    <div class="admin-artist">

                        <img
                            src="./img/Ladi gaga.jpg"
                        
                        >

                        <div>
                            <h3>Lady Gaga</h3>
                            <p>0 Songs</p>
                        </div>

                    </div>

                    
                    <div class="admin-artist">

                        <img
                            src="./img/yeonjun.jpg"
                        
                        >

                        <div>
                            <h3>yeonjun</h3>
                            <p>0 Songs</p>
                        </div>

                     

                </div>

                      <div class="admin-artist">

                        <img
                            src="./img/Shakira.jpg"
                        
                        >

                        <div>
                            <h3>Shakira</h3>
                            <p>0 Songs</p>
                        </div>

                    </div>

                          <div class="admin-artist">

                        <img
                            src="./img/Dua Lipa.jpg"
                        
                        >

                        <div>
                            <h3>Due Lipa</h3>
                            <p>0 Songs</p>
                        </div>

                    </div>

            </div>


        </section>

    </main>

</body>

</html>