<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Blue Music</title>

    <link rel="stylesheet" href="./css/Style.css">
    <link rel="stylesheet" href="./css/artist.css">
</head>

<body>

    <!-- NAVBAR -->

    <nav class="navbar">

        <a href="Home.html" class="logo">
            <img src="./img/_4giPF6VRdSI4jKeGgCLQA.jpg" alt="Blue Music">
        </a>

        <div class="search-box"
             onclick="window.location.href='search.html'">

            <span class="search-icon">⌕</span>

            <input
                type="text"
                placeholder="What do you want to play?"
                readonly
            >

        </div>

        <div class="nav-right">

            <a href="#">Premium</a>
            <a href="#">Support</a>
            <a href="#">Download</a>

            <span class="divider"></span>

            <a href="#">Sign up</a>

            <button class="login-btn">
                Log in
            </button>

        </div>

    </nav>


    <!-- SIDEBAR -->

    <aside class="sidebar">

        <div class="menu-section">

            <a href="Home.html" class="menu-item">
                <span>⌂</span>
                <p>Home</p>
            </a>

            <a href="search.html" class="menu-item">
                <span>⌕</span>
                <p>Search</p>
            </a>

            <a href="#" class="menu-item">
                <span>▱</span>
                <p>Your Library</p>
            </a>

        </div>

        <div class="sidebar-line"></div>

        <div class="playlist-title">
            <span>Your Music</span>
            <button>+</button>
        </div>

        <div class="playlist-list">
            <a href="#">Liked Songs</a>
            <a href="#">Chill Mix</a>
            <a href="#">My Playlist</a>
            <a href="#">Night Drive</a>
        </div>

    </aside>


    <!-- MAIN -->

    <main class="artists-page">

        <a href="Home.html" class="back-link">
            ← Back
        </a>

        <div class="artists-heading">

 

        </div>


        <div class="artists-grid">

       

            <div class="artist-page-card">

                <div class="artist-page-image">
                    <img
                        src="./img/Halsey.jpg"
                        alt="Halsey"
                    >
                </div>

                <h3>Halsey</h3>

                <p>Artist</p>

            </div>


        

            <div class="artist-page-card">

                <div class="artist-page-image">
                    <img
                        src="./img/The Weeknd.jpg"
                        alt="The Weeknd"
                    >
                </div>

                <h3>The Weeknd</h3>

                <p>Artist</p>

            </div>


          

            <div class="artist-page-card">

                <div class="artist-page-image">
                    <img
                        src="./img/Ladi gaga.jpg"
                        alt="Lady Gaga"
                    >
                </div>

                <h3>Lady Gaga</h3>

                <p>Artist</p>

            </div>


     

            <div class="artist-page-card">

                <div class="artist-page-image">
                    <img
                        src="./img/Lisa.jpg"
                        alt="Lisa"
                    >
                </div>

                <h3>Lisa</h3>

                <p>Artist</p>

            </div>


      

            <div class="artist-page-card">

                <div class="artist-page-image">
                    <img
                        src="./img/selena gomez.jpg"
                        alt="Selena Gomez"
                    >
                </div>

                <h3>Selena Gomez</h3>

                <p>Artist</p>

            </div>

              <div class="artist-card">

            <div class="artist-image">
                <img 
                src="./img/yeonjun.jpg" 
                >
            </div>

            <h3>yeonjun</h3>

            <p>Artist</p>
            
        </div>


         <div class="artist-card">

            <div class="artist-image">
                <img 
                src="./img/Shakira.jpg" 
                >
            </div>

            <h3>Shakira</h3>

            <p>Artist</p>
            
        </div>


          <div class="artist-card">

            <div class="artist-image">
                <img 
                src="./img/Dua Lipa.jpg" 
                >
            </div>

            <h3>Dua Lipa</h3>

            <p>Artist</p>
            
        </div>
        

        </div>

    </main>

</body>

</html>